@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Volkhov:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Global */
.container {
  max-width: 1160px;
  margin: auto;
}

.highlight {
  font-weight: 600;
  color: orange;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  font-weight: 600;
  color: #212832;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu-item {
  cursor: pointer;
  margin: 0 6px;
  padding: 6px 16px;
}

/* Hero */
.hero-section {
  display: flex;
  align-items: center;
}
.intro-text h1 {
  color: #181e4b;
  letter-spacing: -4%;
  line-height: 1;
  font-size: 84px;
}
.intro-image img {
  width: 100%;
}
